<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Recherche simple</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding">
    <ion-grid>
        <ion-tab-bar>
            <ion-tab-button tab="tab3">
                <ion-icon name="filing"></ion-icon>
                <ion-label>Base de données</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="alloffre">
                <ion-icon name="basket"></ion-icon>
                <ion-label>Offres/Demandes</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="signalement">
                <ion-icon name="hand"></ion-icon>
                <ion-label>Signalement</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
        <ion-row>
            <ion-col size="12">Entrer un terme.</ion-col>
            <ion-col size="12">
                <ion-note>
                    Les résultats sont classés par ordre de pertinence de 1 à 0.
                    <br>
                    <br>
                    Vous pouvez rechercher par:
                    Nom commercial
                    <br>
                    DCI: Dénomination Commune Internationale
                    <br>
                    ou par code ATC: Anatomique, Thérapeutique et Chimique.
                </ion-note>
            </ion-col>
            <ion-col size="12">
                <!-- Debut formulaire -->
                <!-- If user is loaded show the form, else show the loading template -->
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <ion-item>
                        <ion-input type="text" placeholder="Entrer un terme" id="votretext" class="form-control"
                            formControlName="votretext" [(ngModel)]="searchedTerm">
                        </ion-input>
                    </ion-item>
                    <ion-button expand="block" color="primary" ion-button type="submit" block [disabled]="!form.valid">
                        Recherche
                    </ion-button>
                </form>

                <ion-grid *ngFor="let item of results">
                    <span [innerHTML]="item.name | highlight: searchedTerm"></span>
                </ion-grid>
            </ion-col>
            <ion-col></ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ng-http-loader></ng-http-loader>
<ion-footer></ion-footer>