<ion-header>
    <ion-toolbar color="primary">
            <ion-buttons slot="secondary">
                    <ion-button [routerLink]="['/tabs/tab1']">
                    <ion-icon
                        slot="icon-only"
                        name="home"
                    ></ion-icon>
                </ion-button>
            </ion-buttons>
        <ion-title>Cartographie</ion-title>
        <ion-buttons slot="primary">
            <ion-button [routerLink]="['/cartographie']">
                <ion-icon
                    slot="icon-only"
                    name="pin"
                ></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <iframe style="overflow: hidden; height: 100%;
    width: 100%; position: absolute;" height="100%" width="100%" frameBorder="0"  src="https://umap.openstreetmap.fr/fr/map/aksantimedcom_183535?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=databrowser&captionBar=false"></iframe>
</ion-content>