<ion-header>
    <ion-toolbar color="primary">
        <ion-tabs>
            <!-- Tab bar -->
            <ion-tab-bar slot="top" color="primary">
                <ion-title>Professionel</ion-title>
                <ion-tab-button tab="students">
                    <ion-icon name="person-add"></ion-icon>
                    <ion-label>Insciption Etudiant</ion-label>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding">
    <ion-grid>
        <ion-row>
            <ion-col size="12">Inscrivez-vous</ion-col>
            <ion-col size="12">
                <form class="form" [formGroup]="account_form" (ngSubmit)="tryRegister(account_form.value)">
                    <ion-item>
                        <ion-label>Civilité</ion-label>
                        <ion-select placeholder="Civilité" id="civilite" formControlName="civilite">
                            <ion-select-option value="f">Madame, Mademoiselle</ion-select-option>
                            <ion-select-option value="m">Monsieur</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-input type="hidden" id="device" class="form-control" formControlName="device"
                        value="{{this.uuid}}"></ion-input>
                    <ion-input type="hidden" id="version" class="form-control" formControlName="version"
                        value="{{this.version}}"></ion-input>
                    <ion-input type="hidden" id="model" class="form-control" formControlName="model"
                        value="{{this.model}}"></ion-input>
                    <ion-input type="hidden" id="manufacturer" class="form-control" formControlName="manufacturer"
                        value="{{this.manufacturer}}"></ion-input>

                    <ion-item>
                        <ion-input type="text" placeholder id="nom" formControlName="nom" required placeholder="Nom"
                        style="text-transform: uppercase">
                        </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input type="text" placeholder id="prenom" formControlName="prenom" required
                            placeholder="Prénom" style="text-transform: uppercase">
                        </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Profession/Occupation</ion-label>
                        <ion-select placeholder="Profession/Occupation" id="profession" formControlName="profession">
                            <ion-select-option value="Pharmacien">Pharmacien</ion-select-option>
                            <ion-select-option value="Medecin">Medecin</ion-select-option>
                            <ion-select-option value="Dentiste">Dentiste</ion-select-option>
                            <ion-select-option value="Kinesiterapeute">Kinesiterapeute</ion-select-option>
                            <ion-select-option value="Infirmier">Infirmier</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-label>Ville</ion-label>
                        <ion-select placeholder="Ville" id="ville" formControlName="ville">
                            <ion-select-option *ngFor="let item of ville" [value]="item.value">
                                {{item.value}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-label>Structure</ion-label>
                        <ion-select placeholder="Structure" id="structure" formControlName="structure">
                            <ion-select-option value="Pharmacie">Pharmacie</ion-select-option>
                            <ion-select-option value="Hopital/Clinique">Hopital/Clinique</ion-select-option>
                            <ion-select-option value="Industrie pharmaceutique">Industrie pharmaceutique
                            </ion-select-option>
                            <ion-select-option value="Université">Université</ion-select-option>
                            <ion-select-option value="Depot pharmaceutique">Dépôt pharmaceutique</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-input placeholder="Adresse Email" id="email" type="email" formControlName="email" required>
                        </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input type="password" placeholder="Mot de passe" id="password" class="form-control"
                            formControlName="password">
                        </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input type="number" placeholder="Téléphone" id="gsm" class="form-control">
                        </ion-input>
                    </ion-item>
                    <ion-button expand="block" color="primary" class="submit-btn" type="submit">
                        Validez votre inscription
                    </ion-button>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>