<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="secondary">
            <ion-button [routerLink]="['/tabs/tab1']">
                <ion-icon
                    slot="icon-only"
                    name="home"
                ></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Mot de passe perdu</ion-title>
        <ion-buttons slot="primary">
            <ion-button>
                <ion-icon
                    slot="icon-only"
                    name="pin"
                ></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content
    fullscreen
    class="ion-padding"
>
    <ion-grid>
        <ion-row>
            <form
                class="form"
                [formGroup]="resetPassword_form"
                (ngSubmit)="resetPassword(validations_form)"
            >
                <ion-item>
                    <ion-input
                        type="text"
                        formControlName="email"
                        placeholder="Adresse Email"
                    ></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.email"></ng-container>
                </div>
                <ion-button
                    expand="block"
                    color="primary"
                    class="submit-btn"
                    (click)="lostPassword('top')"
                    type="submit"
                    [disabled]="!resetPassword_form.valid"
                >
                    Envoyer
                </ion-button>
            </form>
        </ion-row>
        <ion-note>
            Il se pourrait que le mail envoyé se retrouve dans vos spams !
        </ion-note>
    </ion-grid>
</ion-content>
<ion-footer></ion-footer>
