<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="secondary">
            <ion-button [routerLink]="['/login']">
                <ion-icon
                    slot="icon-only"
                    name="person"
                ></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Services</ion-title>
        <ion-buttons slot="primary">
            <ion-button [routerLink]="['/cartographie']">
                <ion-icon
                    slot="icon-only"
                    name="pin"
                ></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content
    fullscreen
    class="ion-padding"
>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-icon name="book"></ion-icon>
                <ion-label>ANNUAIRE DES PROFESSIONELS</ion-label>
            </ion-col>
            <ion-col>
                <form
                    class="form"
                    [formGroup]="profform"
                    (ngSubmit)="tryRegister(profform)"
                >
                    <ion-item>
                        <ion-label>Catégorie</ion-label>
                        <ion-select
                            placeholder="categorie"
                            id="categorie"
                            formControlName="categorie"
                        >
                            <ion-select-option>Medecin</ion-select-option>
                            <ion-select-option selected>Pharmacien</ion-select-option>
                            <ion-select-option>Dentiste</ion-select-option>
                            <ion-select-option>Kinésiterapheute</ion-select-option>
                            <ion-select-option>Infirmier</ion-select-option>
                            <ion-select-option>Délégué pharmaceutique</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-input
                            type="text"
                            placeholder
                            id="nom"
                            autocapitalize
                            placeholder="Entrer un nom de famille"
                            formControlName="nom"
                            required
                        ></ion-input>
                    </ion-item>
                    <ion-button
                        expand="block"
                        color="primary"
                        class="submit-btn"
                        type="submit"
                        [disabled]="!profform.valid"
                    >
                        Recherchez
                    </ion-button>
                </form>



                <ion-col
                    size="12"
                    *ngFor="let item of enregistrement"
                >
                    <ion-row>
                        <ion-col>
                            <div>
                                <span *ngIf="item.civilite==='m'">
                                    <ion-icon name="man"></ion-icon>
                                </span>
                                <span *ngIf="item.civilite==='f'">
                                    <ion-icon name="woman"></ion-icon>
                                </span>
                            </div>
                            {{item.nom}} {{item.prenom}}
                        </ion-col>
                        <ion-col>
                            <div>
                                <ion-icon name="call"></ion-icon>
                                {{item.gsm}}
                                <br>
                                {{item.structure}}
                                <br>
                                {{item.ville}}
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <!-- -Pas de résultat -->
                <ion-col
                    size="12"
                    *ngIf="enregistrement?.length == 0"
                >
                    <ion-icon name="information"></ion-icon>
                    Aucun résultat.
                </ion-col>
            </ion-col>
            <hr>
            <!-- Formulaire de signalement -->
            <ion-col size="12">
                <ion-icon name="hand"></ion-icon>
                <ion-label>ANOMALIE ET SIGNALEMENT</ion-label>
            </ion-col>
            <ion-col size="12">
                <ion-note>
                    Une anomalie constatée, un médicament douteux? Signalez aux autorités.
                </ion-note>
            </ion-col>
            <form
                class="form"
                [formGroup]="signalement_form"
                (ngSubmit)="Signalement(signalement_form)"
            >
                <ion-col size="12">
                    <ion-item>
                        <ion-label>Nom du médicament</ion-label>
                        <ion-input
                            type="text"
                            placeholder="Entrer le nom du médicament"
                            id="medicament"
                            formControlName="medicament"
                        ></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Ville</ion-label>
                        <ion-select
                            placeholder="Choix"
                            id="ville"
                            formControlName="ville"
                        >
                            <ion-select-option
                                *ngFor="let item of ville"
                                [value]="item.value"
                            >
                                {{item.value}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-input
                            type="number"
                            placeholder="Votre Gsm"
                            id="telephone"
                            placeholder="Gsm..."
                            formControlName="telephone"
                        >
                        </ion-input>
                        <ion-input
                            type="hidden"
                            placeholder
                            id="latitude"
                            placeholder="Gsm..."
                            value
                        ></ion-input>
                        <ion-input
                            type="hidden"
                            placeholder
                            id="longitude"
                            placeholder="Gsm..."
                            value="{{this.longitude}}"
                        ></ion-input>
                        <ion-input
                            type="hidden"
                            placeholder
                            id="deviceid"
                            placeholder="Gsm..."
                            value
                        ></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-icon
                            name="camera"
                            (click)="pickImage()"
                        ></ion-icon>
                        Prendre une photo
                        <ion-list>
                            <ion-list-header>
                                <ion-label>{{progress}} %</ion-label>
                                <ion-input
                                    type="hidden"
                                    placeholder
                                    id="image"
                                    value="{{imageDoc}}"
                                    name="image"
                                >
                                </ion-input>
                            </ion-list-header>
                            <ion-progress-bar value="{{progress}}"></ion-progress-bar>
                        </ion-list>
                    </ion-item>
                    <ion-item>
                        <ion-textarea
                            rows="3"
                            cols="20"
                            placeholder="Entrer votre message ici..."
                            id="description"
                            formControlName="description"
                        ></ion-textarea>
                    </ion-item>
                </ion-col>
                <ion-button
                    expand="block"
                    color="primary"
                    class="submit-btn"
                    type="submit"
                    (click)="Signalement('top')"
                    [disabled]="!signalement_form.valid"
                >
                    Postez votre signalement
                </ion-button>
            </form>
        </ion-row>
    </ion-grid>
</ion-content>
