<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="secondary">
            <ion-button [routerLink]="['/login']">
                <ion-icon
                    slot="icon-only"
                    name="person"
                ></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Accueil</ion-title>
        <ion-buttons slot="primary">
            <ion-button [routerLink]="['/cartographie']">
                <ion-icon
                    slot="icon-only"
                    name="pin"
                ></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content
    fullscreen
    class="ion-padding"
>
    <ion-grid>

            <ion-col size="12">
                <ion-content>
                    <div>
                      <ion-list>
                        <ion-list-header color="medium">
                          Push Notifications
                        </ion-list-header>
                        <ion-item *ngFor="let push of pushes">
                          <ion-label text-wrap>
                            <ion-text color="primary">
                              <h3>{{push.title}}</h3>
                            </ion-text>
                            <p>{{push.body}}</p>
                          </ion-label>
                        </ion-item>
                      </ion-list>
                    </div>
                    <div *ngIf="!pushes.length" class="empty">
                      You have no notifications. Send a new notification to see it in the app.
                    </div>
                  </ion-content>
<ion-footer></ion-footer>
