<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="secondary">
            <ion-button [routerLink]="['/login']">
                <ion-icon
                    slot="icon-only"
                    name="person"
                ></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Médicaments</ion-title>
        <ion-buttons slot="primary">
            <ion-button [routerLink]="['/cartographie']">
                <ion-icon
                    slot="icon-only"
                    name="pin"
                ></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content
    fullscreen
    class="ion-padding"
>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-icon name="water"></ion-icon>
                <ion-label>BASE DE DONNEES DES MEDICAMENTS</ion-label>
            </ion-col>
            <ion-col size="12">
                <ion-note></ion-note>
            </ion-col>
        </ion-row>
        <ion-list>
            <ion-list-header>3 Options</ion-list-header>
            <ion-item>
                <ion-label>
                    <a [routerLink]="['/simple']">Recherche simple</a>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <a [routerLink]="['/dci']">Recherche par DCI</a>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <a [routerLink]="['/interaction']">Intéractions médicamenteuses</a>
                </ion-label>
            </ion-item>
            <br>
            <br>
            <ion-col size="12">
                <ion-icon name="cart"></ion-icon>
                <ion-label>DEMANDE DE QUOTATION (PRIX)</ion-label>
            </ion-col>
            <ion-item>
                <ion-label>
                    <a [routerLink]="['/quotation']">Demande de quotation</a>
                </ion-label>
            </ion-item>
            <ion-note>
                Nous reherchons pour vous les meilleurs prix sur le marché national et international.
            </ion-note>
            <br>
            <br>
            <ion-col size="12">
                <ion-icon name="hand"></ion-icon>
                <ion-label>SIGNALEMENT FAUX MEDICAMENTS</ion-label>
            </ion-col>
            <ion-item>
                <ion-label>
                    <a [routerLink]="['/signalement']">Envoyer votre signalement</a>
                </ion-label>
            </ion-item>
            <ion-note>
            
            </ion-note>
        </ion-list>
    </ion-grid>
</ion-content>
