<ion-header>
    <ion-toolbar color="primary">
        <ion-tabs>
            <!-- Tab bar -->
            <ion-tab-bar slot="top" color="primary">
                <ion-title>Médicaments</ion-title>
                <ion-tab-button tab="tab3">
                    <ion-icon name="person"></ion-icon>
                    <ion-label>Base de données</ion-label>
                </ion-tab-button>
                <ion-tab-button tab="quotation">
                    <ion-icon name="basket"></ion-icon>
                    <ion-label>Prix</ion-label>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding">
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-label><strong>Base de données des médicaments</strong></ion-label>
            </ion-col>
            <ion-col size="12">
                <ion-note>Les données fournies sont à titre informatif et ne constituent en aucune manière une
                    prescription médicale.</ion-note>
            </ion-col>
        </ion-row>
        <ion-list>
            <ion-list-header>3 Options</ion-list-header>
            <ion-item>

                <ion-tab-button tab="simple">
                    <ion-icon name="browsers"></ion-icon>
                    <ion-label>Recherche simple</ion-label>
                </ion-tab-button>
                <ion-icon name="lock"></ion-icon>
            </ion-item>
            <ion-item>
                <ion-tab-button tab="dci">
                    <ion-icon name="browsers"></ion-icon>
                    <ion-label>Recherche par DCI</ion-label>
                </ion-tab-button>
                <ion-icon name="lock"></ion-icon>
            </ion-item>
            <ion-item>
                <ion-tab-button tab="interaction">
                    <ion-icon name="browsers"></ion-icon>
                    <ion-label>Intéractions médicamenteuses</ion-label>
                </ion-tab-button>
                <ion-icon name="lock"></ion-icon>
            </ion-item>

<br><br>
            <ion-col size="12">
                <ion-label><strong>Signaler les faux médicaments</strong></ion-label>
            </ion-col><br><br>
            <ion-col size="12">
                <ion-note>Une anomalie constatée, un médicament douteux? Signalez aux autorités.</ion-note>
            </ion-col>


            <ion-item>
                <ion-tab-button tab="signalement">
                    <ion-icon name="hand"></ion-icon>
                    <ion-label>Envoyer votre signalement</ion-label>
                </ion-tab-button>
                <ion-icon name="lock"></ion-icon>
            </ion-item>
            <ion-note>

            </ion-note>
        </ion-list>
    </ion-grid>
</ion-content>