<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="secondary">
            <ion-button [routerLink]="['/tabs/tab1']">
                <ion-icon slot="icon-only" name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Recherche par DCI</ion-title>
        <ion-buttons slot="primary">
            <ion-button>
                <ion-icon slot="icon-only" name="pin"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-icon name="arrow-back"></ion-icon>
                <a [routerLink]="['/tabs/tab3']">Retour</a>
            </ion-col>
            <ion-col size="12"> Recherchez par DCI</ion-col>
            <ion-col size="12">
                <ion-note>
                    Recherchez par DCI pour obtenir les médicaments associés.
                </ion-note>
            </ion-col>
            <ion-col size="12">
                <div class="reactive-form" style="margin-top: 10px;">
                    <form autocomplete="on" novalidate [formGroup]="reactiveForm"
                        (ngSubmit)="submitReactiveForm($event)">
                        <div class="container">
                            <div class="ng-autocomplete">
                                <ng-autocomplete [data]="dci" formControlName="name" [initialValue] [placeHolder]=""
                                    [searchKeyword]="keyword" historyIdentifier="dci" [historyHeading]="historyHeading"
                                    historyListMaxNumber="3" notFoundText="Oooops pas de résultat" isLoading="true"
                                    initialValue="true" [itemTemplate]="itemTemplateStatic"
                                    [notFoundTemplate]="notFoundTemplate" [debounceTime]="50">
                                </ng-autocomplete>
                                <ng-template #itemTemplateStatic let-item>
                                    <a [innerHTML]="item.ATCNM_F"></a>
                                </ng-template>
                                <ng-template #notFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </div>
                            <ion-button expand="block" color="primary" [disabled]="reactiveForm.invalid"
                                (click)="save_outage_index()" ion-button type="submit" block>
                                Recherchez
                            </ion-button>
                        </div>
                    </form>
                    <BR>
                    <div *ngIf="inter == 0">Aucun résultat.</div>
                    <div *ngFor="let i of inter">
                        <div>
                            <ion-col size="12">
                                <ion-icon name="medical"></ion-icon>
                                {{i.level1}}<br>
                                <ion-label><strong>{{i.fMppnm}}</strong></ion-label><br>
                                Forme galénique: {{i.formegalenique}}<br>
                                {{i.ATC}}<br>
                                {{i.medessentiel}}<br>
                                {{i.phychotrope}}<br>
                                
                                <div *ngIf="i.ATC.indexOf('N03') > -1">
                                    <ion-chip outline color="danger">
                                        <ion-label>Les antiépileptiques.</ion-label>
                                    </ion-chip>
                                </div>
                            </ion-col>
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer></ion-footer>