<ion-header>
    <ion-toolbar color="primary">
        <ion-tabs>
            <!-- Tab bar -->
            <ion-tab-bar slot="top" color="primary">
                <ion-title>Interactions</ion-title>
                <ion-tab-button tab="tab3">
                    <ion-icon name="person"></ion-icon>
                    <ion-label>Base de données</ion-label>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-toolbar>
</ion-header>
<ion-content
    fullscreen
    class="ion-padding"
>
    <ion-grid>
        <ion-row>
 
            <ion-col size="12">Interactions médicamenteuses</ion-col>
            <ion-col size="12">
                <ion-note>
                    Recherchez par DCI pour obtenir les usages proscrits ainsi que les associations déconseillées.
                </ion-note>
            </ion-col>
            <ion-col size="12">
                <div
                    class="reactive-form"
                    style="margin-top: 10px;"
                >
                    <form
                        autocomplete="off"
                        novalidate
                        [formGroup]="reactiveForm"
                        (ngSubmit)="submitReactiveForm($event)"
                    >
                        <div class="container">
                            <div class="ng-autocomplete">
                                <ng-autocomplete
                                    [data]="dci"
                                    formControlName="name"
                                    [initialValue]
                                    [placeHolder]
                                    [searchKeyword]="keyword"
                                    historyIdentifier="dci"
                                    [historyHeading]="historyHeading"
                                    historyListMaxNumber="3"
                                    notFoundText="Oooops pas de résultat"
                                    isLoading="true"
                                    initialValue="true"
                                    [itemTemplate]="itemTemplateStatic"
                                    [notFoundTemplate]="notFoundTemplate"
                                    [debounceTime]="50"
                                >
                                </ng-autocomplete>


                                <ng-template
                                    #itemTemplateStatic
                                    let-item
                                >
                                    <a [innerHTML]="item.ATCNM_F"></a>
                                </ng-template>
                                <ng-template
                                    #notFoundTemplate
                                    let-notFound
                                >
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </div>
                            <ion-button
                                expand="block"
                                color="primary"
                                [disabled]="reactiveForm.invalid"
                                (click)="save_outage_index()"
                                ion-button
                                type="submit"
                                block
                            >
                                Recherchez
                            </ion-button>
                        </div>
                    </form>
                    <ion-virtual-scroll
                        [items]="inter"
                        approxItemHeight="20000px"
                    >
                        <ion-grid *ngFor="let i  of inter">
                            <ion-label>
                                <strong>{{i.titre}}</strong>
                            </ion-label>
                            <ion-grid *ngIf="i.assocList">
                                <ion-grid *ngFor="let a of i.assocList">
                                    <ion-list>
                                        <ion-label>
                                            <ion-icon name="add"></ion-icon>
                                            <strong>{{a.sousTitre}}</strong>
                                        </ion-label>
                                        <ion-chip
                                            outline
                                            color="danger"
                                        >
                                            <ion-label>{{a.emploi}}</ion-label>
                                        </ion-chip>
                                        {{a.conseq}}
                                        <br>
                                        {{a.emploiDesc}}
                                        <br>
                                    </ion-list>
                                </ion-grid>
                            </ion-grid>
                        </ion-grid>
                    </ion-virtual-scroll>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer></ion-footer>
